<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <% if list.photo.attached? %>
        <%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :fill %>
      <% else %>
        <%= image_tag 'https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png', width: 400, height: 300 %>
      <% end %>
        <%= link_to list.name, list_path(list) %>
        <%= link_to 'Delete this list', list_path(list), data: {turbo_method: :delete, turbo_confirm: 'Are you sure ?'}%>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new list', new_list_path %>
 