<h1>Lists</h1>

<% @list.bookmarks.each do |bookmark| %> 
    <p><%= image_tag (bookmark.movie.poster_url), height: 300 %></p>
    <%= 'Title: ' %><%= bookmark.movie.title %>
    <p><%= 'Comment: '  %><%= bookmark.comment %></p>
    <p><%= link_to 'Delete this bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are your sure ?' } %></p>
<% end %>

<p><%= link_to 'Add a bookmark for this list', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'Go back to list of lists', lists_path %></p>